<!-- header.html -->
<header>
  <nav class="navbar">
    <div class="nav-logo">
      <a href="https://www.mindsetbyaftab.shop/"><img src="/images/Logo.jpg" alt="Logo"></a>
    </div>

    <!-- Hamburger menu icon -->
    <div class="nav-toggle" id="navToggle">&#9776;</div>

    <ul class="nav-links" id="navLinks">
      <li><a href="https://www.mindsetbyaftab.shop/">Home</a></li>
      <li><a href="/product/">Product</a></li>
      <li><a href="/blog/">Blogs</a></li>
      <li><a href="/contact/">Contact Us</a></li>
    </ul>
  </nav>
</header>
