:root {
  --accent: #0b74da;
  --dark: #111;
  --muted: #666;
  --card: #fff;
  --bg: #f6f8fb;
  --maxw: 1100px;
}

/* Header */
header {
  background: var(--card);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  margin: 10px 0px;
}

.navbar {
  max-width: var(--maxw);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  gap: 20px;
}

.nav-logo img {
  height: 50px;
  border-radius: 10px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links a {
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: var(--accent);
}

.nav-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
  user-select: none;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 65px;
    right: 20px;
    background: var(--card);
    width: 200px;
    border-radius: 10px;
    padding: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links li {
    text-align: center;
    margin: 10px 0;
  }

  .nav-toggle {
    display: block;
  }
}

body{
   font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, Arial;
}
/* Footer */
footer {
  font-size: 13px;
  color: var(--muted);
  text-align: center;
  margin-top: 24px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 40px 0px 0px 0px;
  background-color: rgb(243, 243, 241);
  width: 100%;
}

.policy {
  text-align: center;
  padding: 24px 16px;
  font-size: 0.9rem;
  color: var(--muted);
}

.policy a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.2s ease;
}

.policy a:hover {
  color: blue;
}
